.preview {
  .img-box {
    width: 100%;
    // height: 207px;
    height: 160px;
    &:hover {
      cursor: pointer;
      transform: scale(1.01);
      transition: all 0.3s;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius:16px;
    }
  }
  .sentenceToImg {
    width: 100%;
    // height: 207px;
    height: 160px;
  }
}