/* btn */
.btns {
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  width: 140px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0 30px;
}

.outline {
  border: 1px solid #007AFF;
  &:link {
    color: #007AFF;
  }
  &:hover {
    background: rgba($color: #007AFF, $alpha: 0.1);
  }
}

.primary {
  background: #007AFF;
  border: 1px solid #007AFF;
  &:link {
    color: #fff;
  }
  &:hover {
    border: 1px solid #0061CC;
    background: #0061CC;
  }
}

/* el-tree */
.level { 
  .el-tree {
  background: #002742 !important;
  color: rgba($color: #fff, $alpha: 0.6) !important;
  }

  .el-tree-node {
    margin: 0 3px;
  }

  .el-tree-node:focus>.el-tree-node__content{
    background-color:#007AFF !important;
    color: white;
    border-radius: 4px;
  }
  
  .el-tree-node__content:hover{
    background-color:rgba($color: #007AFF, $alpha: 0.5) !important;
    color: rgba($color: #fff, $alpha: 0.8);
    border-radius: 4px;
  }
}

/* el-select */
.top-bar {
  .el-select {
    margin-right: 10px;
  }
  // .el-input__inner {
  //   background: rgba($color: #fff, $alpha: 0.1);
  //   border-radius: 15px;
  //   border: 0;
  //   font-size: 14px;
  //   font-weight: 400;
  //   color: rgba($color: #fff, $alpha: 0.8);
  // }
}

.mr10 {
  margin-right: 10px;
}

.mr50 {
  margin-right: 50px;
}
