/* selfTable */
table tbody {
  display: block;
  overflow-y: auto;
}
tbody::-webkit-scrollbar {
  width: 2px;
  background: rgba($color: #D8D8D8, $alpha: 0.1);
}
tbody::-webkit-scrollbar-thumb {
  background: rgba($color: #000000, $alpha: 0.4);
}
table thead,tbody tr,tfoot tr,thead tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.selfTable {
  width: 100%;
  border: 0px solid #000;
  padding: 10px 10px 10px 20px;
  border-radius: 4px;
  background: #fff;
}

.selfTableHeader {
  th {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    line-height: 20px;
    text-align: left;
  }
}

.selfTableRow {
  .selfTableCell {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    line-height: 20px;
    height: 30px;
    padding: 5px 0;
    input {
      width: 100%;
      border: 0;
      &:focus {
        color: #007AFF;
      }
    }
  }
}

/* btn */
.btns {
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  width: 140px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0 30px;
}

.outline {
  border: 1px solid #007AFF;
  &:link {
    color: #007AFF;
  }
  &:hover {
    background: rgba($color: #007AFF, $alpha: 0.1);
  }
}

.primary {
  background: #007AFF;
  border: 1px solid #007AFF;
  &:link {
    color: #fff;
  }
  &:hover {
    border: 1px solid #0061CC;
    background: #0061CC;
  }
}

/* el-tree */
.el-tree {
  background: #002742 !important;
  color: rgba($color: #fff, $alpha: 0.6) !important;
}

.el-tree-node {
  margin: 0 3px;
}

.el-tree-node:focus>.el-tree-node__content{
  background-color:#007AFF !important;
  color: white;
  border-radius: 4px;
}
.el-tree-node__content:hover{
  background-color:rgba($color: #007AFF, $alpha: 0.5) !important;
  color: rgba($color: #fff, $alpha: 0.8);
  border-radius: 4px;
}