.ar-icon {
  display: inline-block;
  fill: #3EA8F4;
  border-radius: 50%;
  border: 1px solid #94D1F1;
  background-color: #FFFFFF;
  padding: 5px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  &--no-border {
    border: 0;
    border-radius: 0;
    padding: 0;
  }

  &--rec {
    fill: white;
    background-color: #FF6B64;
    border-color: transparent;
  }

  &--pulse {
    animation: ripple .5s linear infinite;
    @keyframes ripple {
      0% {
        box-shadow:
          0 0 0 0 rgba(red, 0.1),
          0 0 0 1px rgba(red, 0.1),
          0 0 0 5px rgba(red, 0.1);
      }
      100% {
        box-shadow:
          0 0 0 0 rgba(red, 0.1),
          0 0 0 10px rgba(red, 0.1),
          0 0 0 20px rgba(red, 0);
      }
    }
  }

  &__xs {
    width: 18px;
    height: 18px;
    line-height: 18px;
  }

  &__sm {
    width: 30px;
    height: 30px;
    line-height: 18px;
  }

  &__lg {
    width: 45px;
    height: 45px;
    line-height: 35px;
    box-shadow: 0px 3px 10px 0px rgba(176,204,221,0.34);
  }
}
